#sara-name{
  font-size: 30px;
}

.FakeSiteIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.FakeSiteIMG{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}